VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-aqui
VITE_SUPPORT_WHATSAPP=5516996097901
VITE_APP_NAME=Agenda Manicure
VITE_MERCADOPAGO_CHECKOUT_URL=https://www.mercadopago.com.br/subscriptions/checkout
VITE_VAPID_PUBLIC_KEY=BDEIv0foIPV15XQOrYwtWuM9wObHPR4_WgCyThA0mfPxkro3vnJqjBvr6A97rjoxYnnUiJz8QJr1wiwbuNd6yeo
