:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  --bg-color: #f0f2f5;
  --max-width: 600px; /* Limite para tablets */
  
  /* Variáveis de Área Segura (Notch do iPhone) */
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  -webkit-tap-highlight-color: transparent; /* Remove piscar azul */
  overscroll-behavior-y: none; /* Remove efeito elástico da página */
}

#root {
  max-width: var(--max-width);
  margin: 0 auto; /* Centraliza no tablet/PC */
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

/* Evita zoom ao digitar no celular */
input, select, textarea, button {
  font-size: 16px; 
  outline: none;
}

/* Classes para respeitar o furo da câmera e a barra de baixo */
.header-safe-area {
  padding-top: calc(15px + var(--sat)) !important;
}

.fab-safe-area {
  bottom: calc(25px + var(--sab)) !important;
}